@charset "UTF-8";
// 初始化全局基础变量配置
//@import 'base/_setting.scss';
// 初始化全局默认样式
@import 'base/_normalize.scss';
// 初始化全局mixin
//@import "base/_css3.scss";
//@import 'base/_mixin.scss';
// 初始化全局表单样式
//@import 'helpers/_helper.scss';
// 左文字右边图
//@import 'base/_imgtextH.scss';
//图片
//@import "base/_sprite.scss";


//字体
@import "../font/iconfont.css";
body,
html {
    background: #fff;
    color: #353a3f;
    //  font-family: arial,"Hiragino Sans GB","Microsoft Yahei","微软雅黑","宋体",Tahoma,Helvetica,STHeiti; //lyd 类百度字体格式
    -webkit-font-smoothing: antialiased;
    font-weight:400;
    //font-family: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"!important;
    // font-family: "Alright Sans LP", "Avenir Next", "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Source Han Sans SC", "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi MicroHei", sans-serif; 
    font-family: "Ubuntu";
}
// 字体上传到cdn再引用 不要引用无效地址

@font-face{
    font-family: "Ubuntu";
    src:url('https://cloud.localpanda.com/static/font/Regular-min.woff');
}
@font-face {
    font-family:"coopbl";
    src: url('https://cloud.localpanda.com/static/font/COOPBL.TTF');
}
@font-face {
    font-family:"pacifico";
    src: url('https://cloud.localpanda.com/static/font/pacifico.ttf');
    
}

// @font-face{
// font-family: "Ubuntu";
// src:url('~/static/font/Regular-min.woff');
// }

* {
    margin: 0;
    padding: 0;
    //input,textarea,li,a,p,b
    tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    box-sizing: border-box;
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden
}

a {
    color: #353a3f;
}

a:hover {
    color: #353a3f;
}

button {
    border: none;
    cursor: pointer;
}

[v-cloak] {
    display: none;
}
input,button,select,textarea{ outline:none;overflow: hidden;}



input {
    padding-left: 10px;
}

.red{ color: red;}
.green{ color: #00B886;}

/*
 * vue专用
 * 保持在元素上直到关联实例结束编译
 */

[v-cloak] {
    display: none;
}
.titleTag {
    color: #3a3a3a;
    ;
    text-align: center;
    margin-bottom: 18px;
    h3 {
        font-size: 32px;
        font-weight: bold;
    }
    ;
    p {
        font-size: 16px;
        margin-top: 6px;
    }
}
//checkbox
.el-checkbox__input.is-checked .el-checkbox__inner, .el-checkbox__input.is-indeterminate .el-checkbox__inner{
    background: #1bbc9d;
    border-color: #1bbc9d;
}
.el-checkbox__input.is-focus .el-checkbox__inner{
    border-color: #1bbc9d;
}
.el-checkbox__inner{
    width: 18px;
    height: 18px;
    border-radius: 3px;
    &:after{
        left: 6px;
        top: 3px;
    }
    &:hover{
         border-color: #1bbc9d;
    }
}

.el-checkbox__input.is-checked+.el-checkbox__label{
    color: #3a3a3a;
}
.gradeList {
    background-image: -webkit-linear-gradient(135deg, #009efd, #1bbc9d);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-image: -moz-linear-gradient(135deg, #009efd, #1bbc9d);
    -moz-text-fill-color: transparent;
    -moz-background-clip: text;
    background-image: -moz-linear-gradient(135deg, #009efd, #1bbc9d);
    -ms-text-fill-color: transparent;
    -ms-background-clip: text;
    background-image: -o-linear-gradient(135deg, #009efd, #1bbc9d);
    -o-text-fill-color: transparent;
    -o-background-clip: text;
}

.btnlinner {
    color: #f5f5f5;
    font-size: 12px;
    margin-top: 30px;
    width: 124px;
    height: 42px;
    font-weight: bold;
    border-radius: 21px;
    background-image: linear-gradient(270deg, #009efd 0%, #1bbc9d 100%), linear-gradient( #1bbc9d, #1bbc9d);
    background-blend-mode: normal, normal;
}
/** 日历 **/
   .flatpickr-current-month input.cur-year{
        font-weight: bold!important;
    }
    .flatpickr-calendar:after, .flatpickr-calendar:before{
        border: none!important;
    }
    .flatpickr-calendar.arrowTop:after, .flatpickr-calendar.arrowTop:before{
        bottom: inherit!important;
        border-bottom-color:#fff!important;
    }
    .flatpickr-input {
        border: 1px solid #e3e5e9!important;
        border-radius: 3px;
        width: 100%!important;
        height: 50px!important;
        padding-left: 57px!important;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-size: 18px!important;
        &:hover{
            border-color: #1bbc9d!important;
        }
    }
    .flatpickr-current-month {
        padding: 0!important;
    }
    
    .flatpickr-months .flatpickr-prev-month svg, .flatpickr-months .flatpickr-next-month svg{ margin-top: 18px;}
    .dayContainer {
        width: 355px!important;
    }
    
    .control.has-icon.has-icon-right>.fa {
        left: 21px;
        top: 15px;
        font-size: 20px;
    }
    
    .fa-calendar {
        color: #1bbc9d!important;
    }
    
    .flatpickr-calendar {
        width: 346px!important;
        padding: 0 20px 20px 20px!important;
        border-radius: 3px!important;
        box-shadow:0px 2px 6px rgba(53, 58, 63, 0.5)!important;
    }
    
    
    .flatpickr-month {
        margin: 24px 0 12px !important;
    }
    
    .flatpickr-weekday {
        color: #424242!important;
    }
    
    .flatpickr-day.disabled {
        color: #aeb5bc!important;
        &:hover {
            background-image: none!important;
            color: #aeb5bc!important;
            cursor: not-allowed!important;
        }
    }
    
    .flatpickr-day.selected {
        background-image: linear-gradient(-90deg, #009efd 0%, #1bbc9d 100%)!important;
        color: #fff!important;
    }
    
    .flatpickr-days {
       
        span {
            
            height: 30px!important;
            line-height:30px!important;
            color: #353a3f!important;
            margin:2px 0px!important;
            &:hover {
                background-image: linear-gradient(-90deg, #009efd 0%, #1bbc9d 100%)!important;
                color: #fff!important;
            }
        }
    }
    
